<form action="javascript:">
  <p><label>Name <input type="text" value="{{workout.name}}"></label></p>
  <p><label>Reps <input type="text" value="{{workout.reps}}"></label></p>
  <p><label>Weight <input type="text" value="{{workout.weight}}"></label></p>
  <p><label>Date <input type="date" value="2015-10-10"></label></p>
  {{#if workout.lbs}}
  <p><label>LBS <input type="checkbox" checked></label></p>
  {{else}}
  <p><label>LBS <input type="checkbox"></label></p>
  {{/if}}
  <button type="submit">Submit</button>
</form>